body{
    font-family: 'Reem Kufi', sans-serif;
    margin: 0;
    letter-spacing: 2px;
    
}
#section1{
    background-color: #B088F9;
    display: flex;
    /* width: 90%; */
    padding: 0;
    color: white;
   
}
#form{
    width: 50%;
    margin: auto;
    text-align: center;
}
.form_container{
    width: 80%;
    margin: auto;
    text-align: start;
    padding-bottom: 1em;
}
#form input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    display: block;
    margin: 1em 0;
    margin-top: 2em;
    padding: 0.5em;
    padding-left: 2.5em;
}
.form_container button{
    margin-top: 1em;
    padding: 1em;
    border-radius: 10px;
    /* border: none; */
    font-family: 'Reem Kufi', sans-serif;
    font-size: .95rem;
}
.btn{
    cursor: pointer;
    border:solid 1px #fff;
    background-color: #B088F9;
    color: white;

}
.btn:hover{
    border:1px solid #B088F9;
    background-color: white;
    color: #B088F9;
}


.form_container p{
    margin-bottom: 0;
    font-size: 1.5rem;
    margin-top: 0;
    color: rgba(255, 255, 255, 0.815);
}
.form_container h1{
    margin: 0.3em 0;
    font-size: 3.2rem;
}
#image{
    width: 50%;
}
#image img{
    width: 100%;
    height: 100%;
}

.location{
    position: relative;
}
.location i{
    position: absolute;
    left: -2px;
    top: -1px;
    padding: 8px 9px;
}

@media (max-width: 896px){
    #section1{
        flex-direction: column;

    }
    #form{
        width: 100%;
    }
    #image{
        order: -1;
        width: 100%;
    }
    #image img{
        width: 100%;
        height: 100%;
    }
    

}
